@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
.main-fld-cnt {
  position: relative;
  height: 100vh;
  background-color: #051923;
}

.main-fld-cnt .inner-cnt {
  position: relative;
  height: 100%;
  top: 0;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-fld-cnt .inner-cnt .main-h1 {
  position: relative;
  top: 5%;
  font-family: "Fugaz One", cursive;
  font-size: 80px;
  letter-spacing: 5px;
  color: #00a6fb;
  text-shadow: 0px 10px 20px black;
}

@media screen and (max-width: 580px) {
  .main-fld-cnt .inner-cnt .main-h1 {
    font-size: 40px;
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 450px) {
  .main-fld-cnt .inner-cnt .main-h1 {
    font-size: 35px;
  }
}

.main-fld-cnt .inner-cnt .form-1 {
  position: relative;
  background: none;
  height: 20%;
  top: 0%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-fld-cnt .inner-cnt .form-1 .coin-input {
  background: none;
  border-radius: 20px;
  border: 2px solid #00a6fb;
  font-family: "Pattaya", sans-serif;
  height: 20%;
  text-align: center;
  padding: 20px 50px;
}

.main-fld-cnt .inner-cnt .form-1 .coin-input:focus {
  outline: none;
  color: white;
}

.main-fld-cnt .inner-cnt .form-1 .coin-input::-webkit-input-placeholder {
  color: #00a6fb;
}

.main-fld-cnt .inner-cnt .form-1 .coin-input:-ms-input-placeholder {
  color: #00a6fb;
}

.main-fld-cnt .inner-cnt .form-1 .coin-input::-ms-input-placeholder {
  color: #00a6fb;
}

.main-fld-cnt .inner-cnt .form-1 .coin-input::placeholder {
  color: #00a6fb;
}

.main-fld-cnt .inner-cnt .form-1 .coin-input:focus {
  color: #0582ca;
}

.main-fld-cnt .inner-cnt .row-1 {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: none;
  width: 70%;
  height: 700px;
  top: -5%;
  padding: 90px 0px;
  overflow-y: auto;
}

@media screen and (max-width: 580px) {
  .main-fld-cnt .inner-cnt .row-1 {
    width: 100%;
    top: 0%;
  }
}

@media screen and (max-width: 450px) {
  .main-fld-cnt .inner-cnt .row-1 {
    padding: 0px 0px;
  }
}

.main-fld-cnt .inner-cnt .row-1 .coin-column {
  position: relative;
  height: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px;
  background: none;
}

@media screen and (max-width: 580px) {
  .main-fld-cnt .inner-cnt .row-1 .coin-column {
    height: 500px;
  }
}

.main-fld-cnt .inner-cnt .row-1 .coin-column .coin-container {
  position: relative;
  width: 95%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 5px 20px black;
          box-shadow: 0px 5px 20px black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: #1d2d44;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-fld-cnt .inner-cnt .row-1 .coin-column .coin-container:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 15px 25px black;
          box-shadow: 0px 15px 25px black;
}

.main-fld-cnt .inner-cnt .row-1 .coin-column .coin-container:hover .crypto-h1 {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.main-fld-cnt .inner-cnt .row-1 .coin-column img {
  height: 100px;
  width: 100px;
  margin: 10px 0px;
}

.main-fld-cnt .inner-cnt .row-1 .coin-column .crypto-h1 {
  color: white;
  font-family: "Fugaz One", cursive;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 1px solid #00a6fb;
}

.main-fld-cnt .inner-cnt .row-1 .coin-column p {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-fld-cnt .inner-cnt .row-1 .coin-column .price {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-fld-cnt .inner-cnt .row-1 .coin-column .change-p {
  letter-spacing: 5px;
  font-weight: 400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-fld-cnt .inner-cnt .row-1 .coin-column .coin-percent-red {
  color: red;
}

.main-fld-cnt .inner-cnt .row-1 .coin-column .coin-percent-green {
  color: #00fc00;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #003554;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00a6fb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0582ca;
}
/*# sourceMappingURL=styles.css.map */